<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629207620308-umbk4lh0fm8j9di8db0efs9farcjkm8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629207620308-umbk4lh0fm8j9di8db0efs9farcjkm8i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629207620308-6bgv4gip38dml9jvvcr3m0qcviftkmp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYe7-9GYrbSXjWRMycGpjJohLFVZYS90A</string>
	<key>GCM_SENDER_ID</key>
	<string>629207620308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>td.webuild.ksp</string>
	<key>PROJECT_ID</key>
	<string>khuru-on-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>khuru-on-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629207620308:ios:805718621ed5b4ea633941</string>
</dict>
</plist>